<div class="card">
  <div class="card-header">
    <img src="imagen5.png">
    <div>
      <h1>Sergio Bustamante</h1>
      <p>Estudiante del Instituto Tecnico Superior Sudamericano</p>
    </div>

</div>
  <h2>Blog Personal</h2>
  <p>Soy una persona ni tan introvertida ni tan extrovertida, adoro el basquet, el Futbol y los videojuegos.
    Adoro salir con mi familia y amigos, con estos ultimos adoro pasar mi tiempo libre, tengo 18 años, naci y vivo actualmente en Giron.
    Mis amigos se han vuelto como unos hermanos para mi, siempre me han ayudado, escuchado y apoyado cada que lo he necesitado, practicamente los quiero como si de hermanos se trataran, ademas tengo dos hermanas, una mayor y una menor, y tengo dos sobrinas.
     </p>

  <div class="images">
    <img src="imagen2.png">
    <img src="imagen3.png">
    <img src="imagen4.png">
    <img src="Imagen-1.png">
  </div>

  <div class="description">
    <p>Estudio en el Tecnológico Superior Sudamericano en la carrera de Desarrollo de Software 1er Ciclo</p>
  </div>
  <div class="card-header">
  </div>
